# Automatically ignored per:
# https://www.npmjs.org/doc/developers.html#Keeping-files-out-of-your-package
#
# .*.swp
# ._*
# .DS_Store
# .git
# .hg
# .lock-wscript
# .svn
# .wafpickle-*
# CVS
# npm-debug.log
# node_modules

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.orig

work
src
test
pids
logs
results
coverage
html-report
xunit.xml
starter
webpack
__mocks__
__tests__
examples

CONTRIBUTING.md
todo.md

.project
.idea
.settings
.iml
.hound.yml
.gitignore
.eslintrc
.eslintignore
.editorconfig
.babelrc
*.sublime-workspace
*.sublime-project

ehthumbs.db
Icon?
Thumbs.db
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
