.terminal-base {
  width: 100%;
  max-width: 600px;
  height: 630px;
  max-height: 100vh;
}

.terminal-container-wrapper {
  height: 100%;
  animation: fadeIn 0.18s ease-in;
}

.terminal-container-wrapper,
.terminal-output-line {
  font-family: 'Inconsolata', monospace;
  font-size: 0.9em;
  color: green;
}

.terminal-container {
  display: block;
  margin: 0 auto;
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

.terminal-input-area {
  height: 100%;
  padding: 3px;
}

.terminal-input {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.terminal-main-input {
  font-size: 0.9em
}

.terminal-container-main {
  max-width: 600px;
  transition: all 0.4s ease-out;
  background: black;
  max-height: 600px;
  height: 100%;
  overflow: scroll;
}

.terminal-holder {
  overflow: auto;
}

.terminal-prompt {
  color: green;
}

.terminal-main-input, .terminal-main-input:focus {
  border: none;
  padding: 0;
  margin: 3px;
  background: black;
  color: green;
  flex: 1;
  outline: none;
}

.terminal-output-line {
  margin-top: 10px;
  margin-bottom: 10px;
  white-space: pre-wrap;
  color: inherit;
}

.terminal-output-line > pre {
  background-color: transparent !important;
}

.terminal-content {
  padding: 5px 20px;
  height: 100%;
}
